@{
    Layout = null;
}

<html>
<head>
    <title>Logged in</title>
</head>
<body data-hr-run="hr.relogin.logged-in-page">
    <p>Logged in, you can now close this window if it does not close automatically.</p>
    <asset-bundle src="~/bundle.min.js"></asset-bundle>
    <script type="text/javascript" src="~/lib/hr-run.js" asp-append-version="true"></script>
</body>
</html>