@{
    ViewData["Title"] = "Items";
}

<div class="row">
    <div data-hr-controller="mainTable" class="col-md-8">
        <h1>Items</h1>
        <load visible="true">
            <p>Working...</p>
        </load>
        <main>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody data-hr-view="listing" data-hr-view-component="mainTableBody"></tbody>
                </table>
                <template data-hr-component="mainTableBody">
                    <table>
                        <tr>
                            <td data-hr-on-click="edit">{{if isGroup}}&#128193;{{/if}} {{name}}</td>
                            <td>
                                <button data-hr-on-click="view" class="btn btn-default" data-hr-toggle="view" data-hr-style-off="display:none;">View</button>
                                <button data-hr-on-click="del" class="btn btn-default" data-hr-toggle="del" data-hr-style-off="display:none;">Delete</button>
                            </td>
                        </tr>
                    </table>
                </template>
            </div>
            <button data-hr-on-click="add" class="btn btn-default" data-hr-toggle="add" data-hr-style-off="display:none;">Add</button>

            <page-numbers></page-numbers>
        </main>

        <error>
            An error occured loading the items. Please try again later.
        </error>
    </div>

    <div class="col-md-4">
        <div data-hr-controller="search">
            <load visible="true">
                <p>Loading Search...</p>
            </load>
            <main>
                <form data-hr-on-submit="submit" data-hr-form="input">
                    <p class="bg-danger hiddenToggler" data-hr-toggle="mainError" data-hr-view="mainError" data-hr-style-on="display:block;">{{message}}</p>

                    <button type="submit" class="btn btn-primary" data-hr-form-end>Search</button>
                </form>
            </main>
            <error>
                An error occured loading the search form. Please try again later.
            </error>
        </div>
    </div>
</div>

<modal data-hr-controller="entryEditor" title-text="Item" dialog-classes="modal-lg">
    <load class="modal-body">
        <p>Working...</p>
    </load>
    <main>
        <item-edit-form class="form-horizontal" data-hr-form-component="hr.forms.horizontal">

            <div class="password-wrapper">
                <input type="text" data-hr-handle="copyElement" />
                <input type="password" class="hidden" data-hr-handle="passwordCopyElement" />
            </div>
            <button class="btn" data-hr-on-click="loadPassword">
                Load
            </button>
            <button class="btn" data-hr-on-click="copyPassword" data-hr-toggle="copy" data-hr-class-off="disabled">
                Copy
            </button>
        </item-edit-form>
    </main>
    <error class="modal-body">
        <p>An error occured loading the value. Please try again later.</p>
    </error>
</modal>