@{
    ViewData["Title"] = "Manage Db";
}

<div data-hr-controller="manageDb">
    <load></load>
    <main>
        <form class="form-horizontal" data-hr-form-component="hr.forms.horizontal" data-hr-on-submit="submit" data-hr-form="input">
            <fieldset>
                <div class="alert alert-danger hiddenToggler" role="alert" data-hr-toggle="mainError" data-hr-view="mainError" data-hr-style-on="display:block;">{{message}}</div>
                <span data-hr-form-end></span>
            </fieldset>
            <div>
                <button type="submit" class="btn btn-primary">Unlock</button>
            </div>
        </form>
    </main>
    <error>
        An error occured loading database management.
    </error>
</div>